@model  List<Activity2Part1.Models.UserModel>

@{
    ViewBag.Title = "MyApp";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <style>
        .actionLink {
            padding: 1rem;
            text-align: center;
            font-size: 1.5rem;
        }

        table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            max-width: 400px;
            margin: 1rem 0;
        }

            table td, table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            table tr:nth-child(even) {
                background-color: white;
            }

            table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0e04fb;
                color: white;
            }
    </style>
</head>
<div>
    @Html.Label("Welcome", "Welcome to Razor", new { style = "text: align: center; font-size: 24px; font-weight: bold; font-family: Arial;" })
    <br />
    @Html.Label("Message", "My Customers are: ", new { style = "text: align: left; font-size: 18px; font-weight: bold; font-family: Arial;" })
    <br />
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.Name)</td>
                    <td>@Html.DisplayFor(modelItem => user.EmailAddress)</td>
                    <td>@Html.DisplayFor(modelItem => user.PhoneNumber)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Refresh Page", "Refresh", new { @class = "actionLink" })
</div>

